.login{
    width: 300px;
    align-content: center;
    margin-left: 20px;
}
.btn-login{
    width: 150px;
    margin-left: 80px;
    color: white;
    background-color: #0e0e2b;
    outline: none;
}